apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      terminationGracePeriodSeconds: 0
      volumes:
        - name: web-root
          emptyDir: {}
      initContainers:
        - name: init-web
          image: busybox:musl
          command:
            - sh
            - -c
            - |
              mkdir -p /www && \
              echo "<h1>Serving {{ .Release.Name }} service</h1>" > /www/index.html
          volumeMounts:
            - name: web-root
              mountPath: /www
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["httpd"]
          args: ["-f", "-p", "8080", "-h", "/www"]
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
          volumeMounts:
            - name: web-root
              mountPath: /www
